* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image: url('resources/360_F_442489908_I3p1idSH3BgY1aeyRt7lHPgDvNyrGqv6.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(24, 17, 17, 0.8); 
    color: #ffffff;
    padding: 10px; 
    text-align: center;
    width: 100vw; 
}

header h1 {
    font-size: 2.5em;
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

nav {
    width: 100vw; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    background-color: rgba(59, 59, 59, 0.9);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555; 
    border-radius: 5px;
}

main {
    flex: 1; 
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

main h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    color: #444;
    margin-bottom: 20px;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.slideshow-container {
    max-width: 100%;
    margin: 20px auto;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #181111;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 0; 
    font-size: 0.9em;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    header h1 {
        font-size: 1.8em;
    }

    main h2 {
        font-size: 1.5em;
    }

    main p {
        font-size: 1em;
    }

    .mySlides img {
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    main h2 {
        font-size: 1.8em;
    }

    main p {
        font-size: 1.1em;
    }

    .mySlides img {
        width: 85%;
    }
}

@media (min-width: 1025px) {
    main h2 {
        font-size: 2em;
    }

    main p {
        font-size: 1.2em;
    }

    .mySlides img {
        width: 80%;
    }
}